body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/*Cabeçalho*/

    .heaContainer {
        max-width: 1400px;
        display: flex;
        height: 200px;
        margin: 25px auto;
    }

    header figure img {
        width: 340px;
    }

    header ul {
        display: flex;
        margin-left: 500px;
    }

    header ul li {
        margin: 90px 30px;
        font-size: 20px;
        transition: all 0.2s;
    }

    header ul li:hover {
        cursor: pointer;
        font-size: 22px;
        color: aqua;
    }

    header h1 {
        font-size: 190px;
        text-transform: uppercase;
        font-family: sans-serif;
        color: rgba(0, 255, 255, 0.198);
        text-align: center;
        font-weight: bold;
    }

    header h2 {
        
        font-size: 70px;
        text-transform: uppercase;
        font-family: sans-serif;
        color: aqua;
        text-align: center;
        transform: translateY(-118px);
        font-weight: bold;
    }


/*Seção de contatos*/

    .container {
        display: flex;
        justify-content: space-evenly;
    }

    .container section {
        padding-left: 80px;
    }

    .container section h2 {
        font-size: 38px;
        padding-bottom: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .container section p {
        font-size: 22px;
        width: 395px;
        line-height: 26px;
    }

    .container section ul {
        padding-top: 40px;
    }

    .container section ul li {
        padding-bottom: 30px;
    }
    .container section ul li img {
        width: 65px;
        padding-bottom: 8px;
    }
    .container section ul li p {
        padding-bottom: 5px;
        font-size: 20px;
    }

    .container section ul li span a {
        color: white;
        text-decoration: none;
        font-style: italic;
        font-size: 22px;
    }

/*Formulário*/

    form {
        padding: 0 20px;
    }

    form input , #msgUsuario {
        width: 90%;
        height: 40px;
        padding-left: 20px;
        margin-bottom: 18px;
        outline: none;
        border-radius: 8px;
        border-width: 3px;
        border-color: aqua;
    }

    form #msgUsuario {
        resize: none;
        height: 120px;
        padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    form button {
        font-size: 18px;
        width: 130px;
        height: 48px;
        border-radius: 8px;
        border: none;
        background-color: rgba(255, 187, 0, 0.904);
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 18px;
        cursor: pointer;
    }

    form #check {
        width: 2%;
        display: table
    }

    form #msg {
    padding-bottom: 130px;
    }


/*Rodapé*/

    footer {
        height: 140px;
        background-color: rgba(70, 68, 68, 0.37);
    }

    footer p {
        text-align: center;
        padding-top: 45px;
    }



/*Aplicando adaptações aos tamanhos de tela*/

@media (max-width: 1200px) {


    
    header figure img {
        width: 310px;
        margin-left: 85px;
    }

    header ul {
        margin-left: 330px;
    }
    header ul li {
        margin: 80px 20px;
        font-size: 18px;
    }
    header ul li:hover {
        font-size: 20px;
    
    }
    header h1 {
        font-size: 150px;
    }
    header h2 {
        font-size: 55px;
        transform: translateY(-95px);
    }
    .container section h2 {
        font-size: 25px;
    }
    .container section p {
        font-size: 18px;
        width: 335px;
        line-height: 24px;
    }
    
}



@media (max-width: 1020px){
    footer {
        width: 100%;
    }
    header ul {
        margin-left: 270px;
    }
    header h1 {
        font-size: 145px;
    }
     header h2 {
        
        font-size: 50px;
        transform: translateY(-90px);
        
    }
    .container section {
        padding-left: 50px;
    }
    header figure img {
        width: 310px;
        margin-left: 70px;
    }
    
}


